.app {
  font-family: 'Ubuntu', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#light {
background-color: lightskyblue;
}

#dark {
  background-color: rgb(72, 2, 72);
}